<app-a-navbar></app-a-navbar>
<div class="container mt-5">
    <div class="flex-container">
        <div class="div-content">
            <h2>Welcome, Administrator!</h2>
        <h3> As an administrator of RevTask, you have the tools <br>
            and capabilities to manage
            user accounts and <br>ensure the smooth operation of the application.</h3>
        </div>
        
        <div class="container-logo">
            <img src=  "https://img.freepik.com/free-vector/illustrated-business-person-meditating_52683-60757.jpg?w=740&t=st=1717127557~exp=1717128157~hmac=a83bb9702d3301758501c3910ab21e2b1530bbc80448565f6cb5bf4b5f6f0d61" alt="task-management-logo">
        </div>
    </div>
</div>












    
    