
<app-t-navbar></app-t-navbar>
<div>
   <h2>Projects</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Project Name</th>
        <th>Project Description</th>
        <th>Client Name</th>
        <th>Project Manager ID</th>
        <th>Project Manager Name</th>
        <th>Tasks</th>
        
    
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.id }}</td>
        <td>{{ project.name }}</td>
        <td>{{ project.description }}</td>
        <td>{{ project.clientName }}</td>
        <td>{{ project.projectManagerId }}</td>
        <td>{{ project.projectManagerName }}</td>
        <td><button (click)="viewtasks(project.id)">Tasks</button></td>
      </tr>
    </tbody>
  </table>
</div> 





  