

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><span>Rev</span>Task</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" id="nav-links">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-home"></i> Home</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/"><i class="fas fa-user-shield"></i> 
                    Project Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/"><i class="fas fa-project-diagram"></i>User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/"><i class="fas fa-user"></i>Logout</a>
                    
                </li> -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Create Account
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a  routerLink="/pmform" class="dropdown-item" href="#">Project Manager</a></li>
                      <li><a   routerLink="/uform" class="dropdown-item" href="#">Team Member</a></li>
                      <li><hr class="dropdown-divider"></li>
                    
                  </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-home"></i>Logout</a>
            </li>
                
                <span id="role-specific-links"></span>
            </ul>
        </div>
    </div>
</nav>