<app-t-navbar></app-t-navbar>
<div>
    <div class="container mt-5">
        <div class="flex-container">
            <div class="div-content">
                <h1>Welcome to RevTask</h1>
            <h2><span class="high">Boost Efficiency</span> with our task management tool.</h2><br><br>
            <p><b>RevTask is your ultimate solution for task management and project tracking. Our platform helps you organize tasks, manage projects, and collaborate with your team efficiently.</b></p>
            <p><b>Whether you are an Admin, Project Manager, or User, RevTask offers customized features to meet your needs:</b></p>
            </div>
            
            <div class="container-logo">
                <img src="./assets/tm-logo.avif" alt="task-management-logo">
            </div>
        </div>
    </div>
   <!-- cards -->

   <div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="./assets/admin.jpg" class="card-img-top" alt="Admin Image">
                <div class="card-body">
                    <h5 class="card-title">Admin</h5>
                    <p class="card-text">Manage users, configure settings, and oversee the entire system.</p>
                    <a href="#" class="btn btn-primary">Go to Admin Dashboard</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="./assets/projectmanager.jpg" class="card-img-top" alt="Project Manager Image">
                <div class="card-body">
                    <h5 class="card-title">Project Manager</h5>
                    <p class="card-text">Create and manage projects, assign tasks, and monitor progress.</p>
                    <a href="#" class="btn btn-primary">Go to Project Dashboard</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="./assets/user.jpg" class="card-img-top" alt="User Image">
                <div class="card-body">
                    <h5 class="card-title">User</h5>
                    <p class="card-text">View assigned tasks, update progress, and collaborate with team members.</p>
                    <a href="#" class="btn btn-primary">Go to My Tasks</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>

