<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/tHome">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user-nav/user-dashboard']" (click)="redirect()">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tUserProject">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet> -->



  

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><span>Rev</span>Task</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" id="nav-links">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tHome"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/user-nav/user-dashboard']" (click)="redirect()"><i class="fas fa-user-shield"></i> 
                   Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tUserProject"><i class="fas fa-project-diagram"></i>Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  (click)="logout()"><i class="fas fa-user"></i>Logout</a>
                </li>
                
                <span id="role-specific-links"></span>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>